<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is redirect</h1>
    <script>
        console.log("check2");
        const currentURL = window.location.href;
        fetch('/redirect', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ variable: currentURL })
            })
              
    </script>
</body>
</html>